<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="org.joaquim.pdf"
        version="0.0.1">

  <name>PDF Plugin</name>

  <engines>
    <engine name="cordova" version=">=7.1.0"/>
    <engine name="cordova-android" version=">=6.3.0" />
  </engines>

  <asset src="www/pdfmerge.js" target="js/pdfmerge.js"/>

  <js-module src="www/pdfmerge.js" name="pdfmerge">
    <clobbers target="pdfmerge" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Pdf">
        <param name="android-package" value="org.joaquim.plugin.Pdf"/>
      </feature>      
    </config-file>

    <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>

    <source-file src="src/android/org/joaquim/plugin/Pdf.java" target-dir="src/org/joaquim/plugin/Pdf" />

    <!--lib-file src="src/android/libs/itext5-itextpdf-5.5.12.jar" target-dir="libs" arch="device" /-->
    <!--lib-file src="src/android/libs/itext5-itextpdf-5.5.12.jar" target-dir="lib" /-->
    <!--source-file src="src/android/libs/itext5-itextpdf-5.5.12.jar" target-dir="lib" /-->

  </platform>


</plugin>